* {
    margin: 0;
}

body {
  overflow-x: hidden;
  /*overflow-x 横向滚动框隐藏 */
  overflow-y: scroll;
  /* overflow-y 纵向滚动框显示, 同时可以滚动*/
  height: auto;
  /* 高度根据内容来定, 所以设置为auto*/
  min-height: 100%;
  /* 设置最小高度为占满显示的一屏 */
  padding: 0 10%;
  /* 内边距 上下为0 , 左右为10%*/
  width: 80%;
  /* 宽度为 百分比80% */
  background-color: rgb(223,223,223);
  /* 背景颜色 */
}

a {
  text-decoration: none;
  /* 对于链接的文本不做任何处理 */
  color: #fff;
  /* 链接的颜色为0XFFF*/ 
  font-size: 1em;
  /* 设置字体大小为1em */
}

img {
  width: 100%;
  /* 图片宽度占满100% */ 
  display: block;
  /* 显示效果	此元素将显示为块级元素，此元素前后会带有换行符。*/
}

#container {
  position: relative;
  /* 相对位置 */
  width: 100%;
  /* 宽度占满 */
  background-color: #fff;
  /* 背景颜色 */
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
                    /*x轴 y轴  模糊度   颜色值      */
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  /* 为匹配非Chrome浏览器的适配*/
}

@media screen and (max-device-width: 768px) {
  body {
    padding: 0;
    /* 小屏幕时 , 没有内部边距*/
    width: 100%;
    /* 宽度 占满*/
  }
}
